html{
    background-color: black;
}

body{
    background-color: black;
}

.about{
    background-color: black;
}

.navbar-menu{
    background-color: black;
    font-style: italic;
}

.navbar-item{
    color: white;
}

.button{
    background-color: #567797;
    border-color: #567797;
    color: white;

}

.title{
    color: white;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.subtitle{
    color: white;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.letra{
    font-size: 30px;
}


.navbar-end{
    background-color: black;
}

.navbar-item{
    background-color: black;
}

.sectionBox{
    display: flex;
    justify-content: center;
}

.box{
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.178);
    display: flex;
    justify-content: center;
    width: 80%;
}
.videojuego{
    width: 100%; 
    height: 720px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.subtitleAbout{
    margin-left: 80px;
    margin-right: 80px;
    font-style: italic;
    font-size: 20px;
    color: white;
    text-align: center;
}

.containerImg{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.imgTeam{
  width: 80%;
  height: auto;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.divSolicitud{
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
}

.label{
    color: white;
    font-style: italic;
    font-size: 20px;
}

.inputSolicitud{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20%;
}





